# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# Datos (archivos grandes)
*.gz
*.npy
*.csv
*.pkl

# Archivos de entorno
.env
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
archive/
